<section class="row m-2">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h2 class="d-flex justify-content-center m-3">
          <span class="m-2">my Log</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="justify-content-center">
        <p>Good time for a change</p>
        </div>
        <div class="d-flex justify-content-center">
          <a href="https://github.com/kenna-hwa"><img src="https://ghchart.rshah.org/kenna-hwa"/></a>
        </div>
        <div class="d-flex justify-content-center">
          <p>&#129489;&#127995;&#8205;&#127806; 　&#129489;&#127995;&#8205;&#127806; 　&#129489;&#127995;&#8205;&#127806; 　&#129489;&#127995;&#8205;&#127806;</p>
        </div>
      </div>
    </div>
  </div>
</section>
